<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="favicon.svg" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LG Household &amp; HealthCare</title>
    <script type="module" crossorigin src="/static/assets/assets/main-RAZLvja-.js"></script>
    <link rel="stylesheet" crossorigin href="/static/assets/assets/main-CnO67m9W.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
